@{
    Layout = "~/Views/Shared/_master.cshtml";
}


<h2>主界面</h2>

<script>
    $(function () {
        $("#tab1").datagrid(
            {
                url: "/Home/GetInfo",//告知链接的数据源
                columns: [[
                    {field:'ID',title:'密码',width:100},
                    {field:'Code',title:'编号',width:100},
                    { field: 'Name', title: '用户名', width: 100 },
                    {
                        field: 'Type',title:'操作', width: 100,
                        formatter: function (value, row, index) {
                            return "<a href='/Home/EDeleteByType/" + value + "'>删除</a> | <a href='/Home/EUpdateByType'>修改</a>";
                        }
                    }
                ]]
            }
        )
    })

    function testClick() {
        $("#btnC").click(function () {
            $("#myModalLabel").text("新增");
            $("myModal").modal();
        })
    }
</script>
<a href="/Home/EAddByType" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
<table id="tab1"> 

</table>
